.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-family: "PT Mono", monospace;
  font-weight: 900;
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 228px;
  overflow: hidden;
}

.card-top-section {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}

.card-vendor-logo {
  width: 40px; 
  height: auto;
  order: 2; 
  margin-left: auto;
  display: flex;
}
.card-number {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.card-holder {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
}
.card-expiry {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
