.deleteButton {
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 14px;
  }/* CardStack.css */
.deleteButton{
    position: absolute;
    right:57%;
    top: 20px;
}