.card{
  display: grid;
}
.card-preview {
 
  border-radius: 8px;
  padding: 16px;
  color: black;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 350px;
  margin: 20px;
}

.card-preview.vendor-vendor1 {
  background-color: #FF4500; 
}

.card-preview.vendor-vendor2 {
  background-color: #1E90FF; 
}


.card-chip-icon {
  width: 20px; 
  height: 40px; 
  background-image: url('../../assets/chip-light.svg'); 
  background-size: contain;
}

.card-vendor-logo {
  width: 60px; 
  height: auto;
}


