
.cardPreview {
  /* General styles for all cards */
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  color: #fff;
}

.vendor1 {
  background-color: #FFD700; /* Example for BTC */
}

.vendor2 {
  background-color: #4B0082; /* Example for Ninja */
}

.vendor3 {
  background-color: #E0115F; /* Example for Evil */
}

.vendor4 {
  background-color: #0F4C81; /* Example for BlockChain */
}
