.top-nav {
   
    color: black;
    padding: 1em;
    display: flex;
  

  }
  
  .top-nav a {
    color: black;
    padding: 0 1em;
    text-decoration: none;
  }
  
  .top-nav a:hover {
    text-decoration: underline;
  }